.nav {
    background-color: gray;
    font-family: 'Roboto', sans-serif;
    height: 45px;
}
.nav-links {
    display: flex; 
    justify-content:end;
    list-style-type: none;
    margin-top: -48px;
    margin-right: 10px;
}

a:link {
    text-decoration: none;
    margin: 20px;
    color: white;
}

.btn {
    background-color: aqua;
    box-shadow: 3px 3px 0px black;
    border: 2px solid black;
    color: white;
}
 .nav-title {
    color: white;
    margin-left: 15px;
 }


